# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [6]:
import pandas as pd

# Load the datasets
file1 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
file2 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')
file3 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv')

# Display the column names of each file
print("Columns in File 1:", file1.columns)
print("Columns in File 2:", file2.columns)
print("Columns in File 3:", file3.columns)

Columns in File 1: Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
Columns in File 2: Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')
Columns in File 3: Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [8]:

def clean_column_names(column_names):
    # Make all characters lowercase and replace spaces with underscores
    cleaned_names = column_names.str.lower().str.replace(' ', '_')
    # Replace 'st' with 'state' only if the whole name is 'st'
    cleaned_names = [name if name != 'st' else 'state' for name in cleaned_names]
    return cleaned_names

# Apply the function to the DataFrame's column names
file1.columns = clean_column_names(file1.columns)
file2.columns = clean_column_names(file2.columns)
file3.columns = clean_column_names(file3.columns)

print("Cleaned columns1:", file1.columns)
print("Cleaned columns2:", file2.columns)
print("Cleaned columns3:", file3.columns)

Cleaned columns1: Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')
Cleaned columns2: Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'total_claim_amount', 'policy_type', 'vehicle_class'],
      dtype='object')
Cleaned columns3: Index(['customer', 'state', 'customer_lifetime_value', 'education', 'gender',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'total_claim_amount', 'vehicle_class'],
      dtype='object')

In [10]:
standard_columns = ['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
                    'income', 'monthly_premium_auto', 'number_of_open_complaints',
                    'policy_type', 'vehicle_class', 'total_claim_amount']
# Reorder the columns in each dataframe
file1 = file1[standard_columns]
file2 = file2[standard_columns]
file3 = file3[standard_columns]
combined_data = pd.concat([file1, file2, file3], ignore_index=True)
print(combined_data.head(25))
print(combined_data.columns)

   customer       state gender             education  customer_lifetime_value  \
0   RB50392  Washington    NaN                Master                      NaN
1   QZ44356     Arizona      F              Bachelor                697953.59
2   AI49188      Nevada      F              Bachelor               1288743.17
3   WW63253  California      M              Bachelor                764586.18
4   GA49547  Washington      M  High School or Below                536307.65
5   OC83172      Oregon      F              Bachelor                825629.78
6   XZ87318      Oregon      F               College                538089.86
7   CF85061     Arizona      M                Master                721610.03
8   DY87989      Oregon      M              Bachelor               2412750.40
9   BQ94931      Oregon      F               College                738817.81
10  SX51350  California      M               College                473899.20
11  VQ65197  California    NaN               College                819719.71
12  DP39365  California    NaN                Master                879879.70
13  SJ95423     Arizona    NaN  High School or Below                881901.89
14  IL66569  California    NaN               College                538443.17
15  BW63560      Oregon    NaN              Bachelor                746313.94
16  FV94802      Nevada    NaN  High School or Below                256686.78
17  OE15005  California    NaN               College                394524.16
18  WC83389      Oregon    NaN               College                571033.31
19  FL50705  California    NaN  High School or Below                816261.71
20  ZK25313      Oregon    NaN  High School or Below                287205.13
21  QK46697  Washington      M              Bachelor                617710.93
22  YH23384     Arizona    NaN              Bachelor               2412750.40
23  TZ98966      Nevada    NaN              Bachelor                245019.10
24  HM55802  California    NaN              Bachelor                239210.79

     income  monthly_premium_auto number_of_open_complaints     policy_type  \
0       0.0                1000.0                    1/0/00   Personal Auto
1       0.0                  94.0                    1/0/00   Personal Auto
2   48767.0                 108.0                    1/0/00   Personal Auto
3       0.0                 106.0                    1/0/00  Corporate Auto
4   36357.0                  68.0                    1/0/00   Personal Auto
5   62902.0                  69.0                    1/0/00   Personal Auto
6   55350.0                  67.0                    1/0/00  Corporate Auto
7       0.0                 101.0                    1/0/00  Corporate Auto
8   14072.0                  71.0                    1/0/00  Corporate Auto
9   28812.0                  93.0                    1/0/00    Special Auto
10      0.0                  67.0                    1/0/00   Personal Auto
11      0.0                 110.0                    1/0/00   Personal Auto
12  77026.0                 110.0                    1/2/00  Corporate Auto
13  99845.0                 110.0                    1/1/00  Corporate Auto
14  83689.0                  70.0                    1/2/00  Corporate Auto
15  24599.0                  64.0                    1/1/00  Corporate Auto
16  25049.0                  67.0                    1/0/00   Personal Auto
17  28855.0                 101.0                    1/0/00   Personal Auto
18  51148.0                  72.0                    1/0/00   Personal Auto
19  66140.0                 101.0                    1/0/00  Corporate Auto
20  57749.0                  74.0                    1/0/00   Personal Auto
21  61040.0                  79.0                    1/1/00   Personal Auto
22  14072.0                  71.0                    1/0/00   Personal Auto
23      0.0                  73.0                    1/3/00  Corporate Auto
24  17870.0                  61.0                    1/0/00  Corporate Auto

    vehicle_class  total_claim_amount
0   Four-Door Car            2.704934
1   Four-Door Car         1131.464935
2    Two-Door Car          566.472247
3             SUV          529.881344
4   Four-Door Car           17.269323
5    Two-Door Car          159.383042
6   Four-Door Car          321.600000
7   Four-Door Car          363.029680
8   Four-Door Car          511.200000
9   Four-Door Car          425.527834
10  Four-Door Car          482.400000
11            SUV          528.000000
12  Four-Door Car          472.029737
13            SUV          528.000000
14  Four-Door Car          307.139132
15  Four-Door Car           42.920271
16   Two-Door Car          454.245098
17            SUV          647.442031
18  Four-Door Car          308.981664
19  Four-Door Car          484.800000
20   Two-Door Car          355.200000
21   Two-Door Car           20.382876
22  Four-Door Car          511.200000
23  Four-Door Car          554.376763
24  Four-Door Car          439.200000
Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [13]:
# Your code here

# Define functions for cleaning each specific column
def standardize_gender(gender_series):
    mappings = {'F': 'F', 'Female': 'F', 'Femal': 'F', 'M': 'M', 'Male': 'M', 'female': 'F'}
    return gender_series.map(mappings)
def replace_state_abbreviations(state_series):
    state_mappings = {'AZ': 'Arizona', 'Cali': 'California', 'WA': 'Washington'}
    return state_series.replace(state_mappings)
def correct_education(education_series):
    return education_series.replace({'Bachelors': 'Bachelor'})
def remove_percentage(clv_series):
    # Convert the series to string, replace the '%' sign, and then convert to float
    return clv_series.astype(str).str.replace('%', '').astype(float)

def consolidate_vehicle_classes(vehicle_series):
    replacements = {'Sports Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury'}
    return vehicle_series.replace(replacements)
# Apply cleaning functions to the dataframe
combined_data['gender'] = standardize_gender(combined_data['gender'])
combined_data['state'] = replace_state_abbreviations(combined_data['state'])
combined_data['education'] = correct_education(combined_data['education'])
combined_data['customer_lifetime_value'] = remove_percentage(combined_data['customer_lifetime_value'].fillna('0%'))
combined_data['vehicle_class'] = consolidate_vehicle_classes(combined_data['vehicle_class'])

print(combined_data.head(25))

   customer       state gender             education  customer_lifetime_value  \
0   RB50392  Washington    NaN                Master                     0.00
1   QZ44356     Arizona      F              Bachelor                697953.59
2   AI49188      Nevada      F              Bachelor               1288743.17
3   WW63253  California      M              Bachelor                764586.18
4   GA49547  Washington      M  High School or Below                536307.65
5   OC83172      Oregon      F              Bachelor                825629.78
6   XZ87318      Oregon      F               College                538089.86
7   CF85061     Arizona      M                Master                721610.03
8   DY87989      Oregon      M              Bachelor               2412750.40
9   BQ94931      Oregon      F               College                738817.81
10  SX51350  California      M               College                473899.20
11  VQ65197  California    NaN               College                819719.71
12  DP39365  California    NaN                Master                879879.70
13  SJ95423     Arizona    NaN  High School or Below                881901.89
14  IL66569  California    NaN               College                538443.17
15  BW63560      Oregon    NaN              Bachelor                746313.94
16  FV94802      Nevada    NaN  High School or Below                256686.78
17  OE15005  California    NaN               College                394524.16
18  WC83389      Oregon    NaN               College                571033.31
19  FL50705  California    NaN  High School or Below                816261.71
20  ZK25313      Oregon    NaN  High School or Below                287205.13
21  QK46697  Washington      M              Bachelor                617710.93
22  YH23384     Arizona    NaN              Bachelor               2412750.40
23  TZ98966      Nevada    NaN              Bachelor                245019.10
24  HM55802  California    NaN              Bachelor                239210.79

     income  monthly_premium_auto number_of_open_complaints     policy_type  \
0       0.0                1000.0                    1/0/00   Personal Auto
1       0.0                  94.0                    1/0/00   Personal Auto
2   48767.0                 108.0                    1/0/00   Personal Auto
3       0.0                 106.0                    1/0/00  Corporate Auto
4   36357.0                  68.0                    1/0/00   Personal Auto
5   62902.0                  69.0                    1/0/00   Personal Auto
6   55350.0                  67.0                    1/0/00  Corporate Auto
7       0.0                 101.0                    1/0/00  Corporate Auto
8   14072.0                  71.0                    1/0/00  Corporate Auto
9   28812.0                  93.0                    1/0/00    Special Auto
10      0.0                  67.0                    1/0/00   Personal Auto
11      0.0                 110.0                    1/0/00   Personal Auto
12  77026.0                 110.0                    1/2/00  Corporate Auto
13  99845.0                 110.0                    1/1/00  Corporate Auto
14  83689.0                  70.0                    1/2/00  Corporate Auto
15  24599.0                  64.0                    1/1/00  Corporate Auto
16  25049.0                  67.0                    1/0/00   Personal Auto
17  28855.0                 101.0                    1/0/00   Personal Auto
18  51148.0                  72.0                    1/0/00   Personal Auto
19  66140.0                 101.0                    1/0/00  Corporate Auto
20  57749.0                  74.0                    1/0/00   Personal Auto
21  61040.0                  79.0                    1/1/00   Personal Auto
22  14072.0                  71.0                    1/0/00   Personal Auto
23      0.0                  73.0                    1/3/00  Corporate Auto
24  17870.0                  61.0                    1/0/00  Corporate Auto

    vehicle_class  total_claim_amount
0   Four-Door Car            2.704934
1   Four-Door Car         1131.464935
2    Two-Door Car          566.472247
3             SUV          529.881344
4   Four-Door Car           17.269323
5    Two-Door Car          159.383042
6   Four-Door Car          321.600000
7   Four-Door Car          363.029680
8   Four-Door Car          511.200000
9   Four-Door Car          425.527834
10  Four-Door Car          482.400000
11            SUV          528.000000
12  Four-Door Car          472.029737
13            SUV          528.000000
14  Four-Door Car          307.139132
15  Four-Door Car           42.920271
16   Two-Door Car          454.245098
17            SUV          647.442031
18  Four-Door Car          308.981664
19  Four-Door Car          484.800000
20   Two-Door Car          355.200000
21   Two-Door Car           20.382876
22  Four-Door Car          511.200000
23  Four-Door Car          554.376763
24  Four-Door Car          439.200000

In [14]:
# Function to clean and convert customer lifetime value
def clean_customer_lifetime_value(clv_series):
    # Ensure the data is in string format, remove any '%' characters, and convert to float
    clv_series = clv_series.astype(str).replace('%', '', regex=True).astype(float)
    return clv_series

# Function to extract and convert number of open complaints
def extract_open_complaints(complaints_series):
    # Ensure the data is in string format, split the string, extract the middle value
    complaints_series = complaints_series.astype(str).str.split('/').str[1]
    # Convert the extracted strings to a numeric type, coercing errors to NaN
    complaints_series = pd.to_numeric(complaints_series, errors='coerce').astype('Int64')
    return complaints_series
# Apply the cleaning functions
combined_data['customer_lifetime_value'] = clean_customer_lifetime_value(combined_data['customer_lifetime_value'])
combined_data['number_of_open_complaints'] = extract_open_complaints(combined_data['number_of_open_complaints'])

# Output the cleaned data types and the first few rows to check the results
print(combined_data.dtypes)
print(combined_data.head(25))

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints      Int64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object
   customer       state gender             education  customer_lifetime_value  \
0   RB50392  Washington    NaN                Master                     0.00
1   QZ44356     Arizona      F              Bachelor                697953.59
2   AI49188      Nevada      F              Bachelor               1288743.17
3   WW63253  California      M              Bachelor                764586.18
4   GA49547  Washington      M  High School or Below                536307.65
5   OC83172      Oregon      F              Bachelor                825629.78
6   XZ87318      Oregon      F               College                538089.86
7   CF85061     Arizona      M                Master                721610.03
8   DY87989      Oregon      M              Bachelor               2412750.40
9   BQ94931      Oregon      F               College                738817.81
10  SX51350  California      M               College                473899.20
11  VQ65197  California    NaN               College                819719.71
12  DP39365  California    NaN                Master                879879.70
13  SJ95423     Arizona    NaN  High School or Below                881901.89
14  IL66569  California    NaN               College                538443.17
15  BW63560      Oregon    NaN              Bachelor                746313.94
16  FV94802      Nevada    NaN  High School or Below                256686.78
17  OE15005  California    NaN               College                394524.16
18  WC83389      Oregon    NaN               College                571033.31
19  FL50705  California    NaN  High School or Below                816261.71
20  ZK25313      Oregon    NaN  High School or Below                287205.13
21  QK46697  Washington      M              Bachelor                617710.93
22  YH23384     Arizona    NaN              Bachelor               2412750.40
23  TZ98966      Nevada    NaN              Bachelor                245019.10
24  HM55802  California    NaN              Bachelor                239210.79

     income  monthly_premium_auto  number_of_open_complaints     policy_type  \
0       0.0                1000.0                          0   Personal Auto
1       0.0                  94.0                          0   Personal Auto
2   48767.0                 108.0                          0   Personal Auto
3       0.0                 106.0                          0  Corporate Auto
4   36357.0                  68.0                          0   Personal Auto
5   62902.0                  69.0                          0   Personal Auto
6   55350.0                  67.0                          0  Corporate Auto
7       0.0                 101.0                          0  Corporate Auto
8   14072.0                  71.0                          0  Corporate Auto
9   28812.0                  93.0                          0    Special Auto
10      0.0                  67.0                          0   Personal Auto
11      0.0                 110.0                          0   Personal Auto
12  77026.0                 110.0                          2  Corporate Auto
13  99845.0                 110.0                          1  Corporate Auto
14  83689.0                  70.0                          2  Corporate Auto
15  24599.0                  64.0                          1  Corporate Auto
16  25049.0                  67.0                          0   Personal Auto
17  28855.0                 101.0                          0   Personal Auto
18  51148.0                  72.0                          0   Personal Auto
19  66140.0                 101.0                          0  Corporate Auto
20  57749.0                  74.0                          0   Personal Auto
21  61040.0                  79.0                          1   Personal Auto
22  14072.0                  71.0                          0   Personal Auto
23      0.0                  73.0                          3  Corporate Auto
24  17870.0                  61.0                          0  Corporate Auto

    vehicle_class  total_claim_amount
0   Four-Door Car            2.704934
1   Four-Door Car         1131.464935
2    Two-Door Car          566.472247
3             SUV          529.881344
4   Four-Door Car           17.269323
5    Two-Door Car          159.383042
6   Four-Door Car          321.600000
7   Four-Door Car          363.029680
8   Four-Door Car          511.200000
9   Four-Door Car          425.527834
10  Four-Door Car          482.400000
11            SUV          528.000000
12  Four-Door Car          472.029737
13            SUV          528.000000
14  Four-Door Car          307.139132
15  Four-Door Car           42.920271
16   Two-Door Car          454.245098
17            SUV          647.442031
18  Four-Door Car          308.981664
19  Four-Door Car          484.800000
20   Two-Door Car          355.200000
21   Two-Door Car           20.382876
22  Four-Door Car          511.200000
23  Four-Door Car          554.376763
24  Four-Door Car          439.200000

In [18]:
# Fill missing values in 'gender' with the mode
mode_gender = combined_data['gender'].mode()[0]
combined_data['gender'] = combined_data['gender'].fillna(value=mode_gender)

# Fill missing values in 'customer_lifetime_value' with the mean
mean_customer_lifetime_value = combined_data['customer_lifetime_value'].mean()
combined_data['customer_lifetime_value'] = combined_data['customer_lifetime_value'].fillna(value=mean_customer_lifetime_value)

# Fill missing values in 'income' with the mean
mean_income = combined_data['income'].mean()
combined_data['income'] = combined_data['income'].fillna(value=mean_income)
# Display the first 10 rows of the DataFrame to confirm changes
combined_data.head(10)
null_counts = combined_data.isnull().sum()
print(combined_data.isnull())
print(null_counts)

       customer  state  gender  education  customer_lifetime_value  income  \
0         False  False   False      False                    False   False
1         False  False   False      False                    False   False
2         False  False   False      False                    False   False
3         False  False   False      False                    False   False
4         False  False   False      False                    False   False
...         ...    ...     ...        ...                      ...     ...
12069     False  False   False      False                    False   False
12070     False  False   False      False                    False   False
12071     False  False   False      False                    False   False
12072     False  False   False      False                    False   False
12073     False  False   False      False                    False   False

       monthly_premium_auto  number_of_open_complaints  policy_type  \
0                     False                      False        False
1                     False                      False        False
2                     False                      False        False
3                     False                      False        False
4                     False                      False        False
...                     ...                        ...          ...
12069                 False                       True        False
12070                 False                       True        False
12071                 False                       True        False
12072                 False                       True        False
12073                 False                       True        False

       vehicle_class  total_claim_amount
0              False               False
1              False               False
2              False               False
3              False               False
4              False               False
...              ...                 ...
12069          False               False
12070          False               False
12071          False               False
12072          False               False
12073          False               False

[12074 rows x 11 columns]
customer                      2937
state                         2937
gender                           0
education                     2937
customer_lifetime_value          0
income                           0
monthly_premium_auto          2937
number_of_open_complaints    10007
policy_type                   2937
vehicle_class                 2937
total_claim_amount            2937
dtype: int64

In [19]:
# Your code here
duplicates = combined_data.duplicated()
print("Number of duplicate rows:", duplicates.sum())
# Drop duplicates, keeping only the first occurrence
combined_data_clean = combined_data.drop_duplicates(keep='first')
print("Duplicates remaining:", combined_data_clean.duplicated().sum())

Number of duplicate rows: 2939
Duplicates remaining: 0

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [ ]:
# Your code goes here

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here